#clock {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: aliceblue;
  border: solid 1px darkslategray;
  position: relative;
}

.number {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  transform: rotate(0deg);
  font-size: 24px;
}

.handle {
  height: 100px;
  width: 4px;
  position: absolute;
  background-color: black;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(30deg);
}

.handle__millis {
  height: 100px;
  width: 1px;
  background-color: gray;
}

.handle__second {
  height: 200px;
  width: 1px;
  background-color: red;
}

.handle__minute {
  height: 175px;
  width: 2px;  
}

.handle__hour {
  height: 150px;
  width: 4px;
}

.number:nth-of-type(1) {
    transform: rotate(30deg);
}
.number:nth-of-type(2) {
    transform: rotate(60deg);
}
.number:nth-of-type(3) {
    transform: rotate(90deg);
}
.number:nth-of-type(4) {
    transform: rotate(120deg);
}
.number:nth-of-type(5) {
    transform: rotate(150deg);
}
.number:nth-of-type(6) {
    transform: rotate(180deg);
}
.number:nth-of-type(7) {
    transform: rotate(210deg);
}
.number:nth-of-type(8) {
    transform: rotate(240deg);
}
.number:nth-of-type(9) {
    transform: rotate(270deg);
}
.number:nth-of-type(10) {
    transform: rotate(300deg);
}
.number:nth-of-type(11) {
    transform: rotate(330deg);
}
